version: '3.8'

services:
  homework-bot:
    build: .
    container_name: homework-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - bot-data:/app/data
volumes:
  bot-data:
